* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}

.container {
  border: 1px solid;
  width: 1200px;
  height: 720px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:20px 0;
  flex-wrap: wrap;

  .qrcode-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 25px;
    width:50px;           //50 + 25 = 75px i.e. 1.25 inches diameter of circle

    .qrcode-img{
      width:inherit;
    }
    
    span {
      position: absolute;
      font-size: 12px;
      text-align: center;
      height: 105px;
      display: grid;
      align-content: flex-end; //check flex-end
      color: blue;
      font-weight: bold;
    }
  }
}

.char1 {
  transform: rotate(-90deg);
}

.char22 {
  transform: rotate(90deg);
}

$rotatePixel-top: 75; //rotation deg of char 22 + 15
$decrement: 8;

@for $i from 2 through 21 {
  .char#{$i} {
    transform: (rotate($rotatePixel-top + deg));
  }
  $rotatePixel-top: $rotatePixel-top - $decrement;
}

$rotatePixel-bottom: -105; //90 + 15
@for $i from 23 through 42 {
  .char#{$i} {
    transform: rotate($rotatePixel-bottom + deg);
  }
  $rotatePixel-bottom: $rotatePixel-bottom - $decrement;
}
