* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}

@page {
  size: A4;
  margin: 0;
}

.container {
  page: cover;
}

.row {
  display: block;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.row .qrcode-container {
  display: inline-block;
  position: relative;
  margin: 25px;
  width: 50px;
}

.row .qrcode-container .qrcode-img {
  width: inherit;
}

.row .qrcode-container span {
  position: absolute;
  font-size: 12px;
  text-align: center;
  height: 105px;
  color: blue;
  font-weight: bold;
  left: 49%;
  top: -48%;
}

.row .qrcode-container span p {
  position: absolute;
  bottom: 0;
}

.char1 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.char22 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.char2 {
  -webkit-transform: rotate(75deg);
          transform: rotate(75deg);
}

.char3 {
  -webkit-transform: rotate(67deg);
          transform: rotate(67deg);
}

.char4 {
  -webkit-transform: rotate(59deg);
          transform: rotate(59deg);
}

.char5 {
  -webkit-transform: rotate(51deg);
          transform: rotate(51deg);
}

.char6 {
  -webkit-transform: rotate(43deg);
          transform: rotate(43deg);
}

.char7 {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.char8 {
  -webkit-transform: rotate(27deg);
          transform: rotate(27deg);
}

.char9 {
  -webkit-transform: rotate(19deg);
          transform: rotate(19deg);
}

.char10 {
  -webkit-transform: rotate(11deg);
          transform: rotate(11deg);
}

.char11 {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

.char12 {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.char13 {
  -webkit-transform: rotate(-13deg);
          transform: rotate(-13deg);
}

.char14 {
  -webkit-transform: rotate(-21deg);
          transform: rotate(-21deg);
}

.char15 {
  -webkit-transform: rotate(-29deg);
          transform: rotate(-29deg);
}

.char16 {
  -webkit-transform: rotate(-37deg);
          transform: rotate(-37deg);
}

.char17 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.char18 {
  -webkit-transform: rotate(-53deg);
          transform: rotate(-53deg);
}

.char19 {
  -webkit-transform: rotate(-61deg);
          transform: rotate(-61deg);
}

.char20 {
  -webkit-transform: rotate(-69deg);
          transform: rotate(-69deg);
}

.char21 {
  -webkit-transform: rotate(-77deg);
          transform: rotate(-77deg);
}

.char23 {
  -webkit-transform: rotate(-105deg);
          transform: rotate(-105deg);
}

.char24 {
  -webkit-transform: rotate(-113deg);
          transform: rotate(-113deg);
}

.char25 {
  -webkit-transform: rotate(-121deg);
          transform: rotate(-121deg);
}

.char26 {
  -webkit-transform: rotate(-129deg);
          transform: rotate(-129deg);
}

.char27 {
  -webkit-transform: rotate(-137deg);
          transform: rotate(-137deg);
}

.char28 {
  -webkit-transform: rotate(-145deg);
          transform: rotate(-145deg);
}

.char29 {
  -webkit-transform: rotate(-153deg);
          transform: rotate(-153deg);
}

.char30 {
  -webkit-transform: rotate(-161deg);
          transform: rotate(-161deg);
}

.char31 {
  -webkit-transform: rotate(-169deg);
          transform: rotate(-169deg);
}

.char32 {
  -webkit-transform: rotate(-177deg);
          transform: rotate(-177deg);
}

.char33 {
  -webkit-transform: rotate(-185deg);
          transform: rotate(-185deg);
}

.char34 {
  -webkit-transform: rotate(-193deg);
          transform: rotate(-193deg);
}

.char35 {
  -webkit-transform: rotate(-201deg);
          transform: rotate(-201deg);
}

.char36 {
  -webkit-transform: rotate(-209deg);
          transform: rotate(-209deg);
}

.char37 {
  -webkit-transform: rotate(-217deg);
          transform: rotate(-217deg);
}

.char38 {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.char39 {
  -webkit-transform: rotate(-233deg);
          transform: rotate(-233deg);
}

.char40 {
  -webkit-transform: rotate(-241deg);
          transform: rotate(-241deg);
}

.char41 {
  -webkit-transform: rotate(-249deg);
          transform: rotate(-249deg);
}

.char42 {
  -webkit-transform: rotate(-257deg);
          transform: rotate(-257deg);
}
/*# sourceMappingURL=styles.css.map */